@import "tailwindcss";

@theme {
  --color-colorOrangyRed: #fe330a;
  --color-colorCodGray: #1c1c1c;
  --color-colorLinenRuffle: #f7f1e9;
}

* {
  font-family: "DM Sans", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1332px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* slider */
/* Chỉ tác động vào Brand Slider */
.brand-slider .swiper-slide {
  /* Buộc chiều rộng Slide tự co theo số lượng slidesPerView trong JS */
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Đảm bảo dải băng chuyền chạy mượt, không giật cục */
.brand-slider .swiper-wrapper {
  transition-timing-function: linear;
  display: flex;
}
/* pricing */
/* Trạng thái mặc định của nút Pricing */
.price-button {
  background-color: transparent;
  color: black;
}

/* Trạng thái khi nút được kích hoạt (Active) */
.price-button.active {
  background-color: black;
  color: white;
}

/* FAQ */
/* Trạng thái mở Accordion */
.accordion-item.active .accordion-content {
  max-height: 200px; /* Độ cao khi mở ra */
}

.accordion-item.active .v-line {
  transform: rotate(90deg);
  opacity: 0; /* Biến dấu + thành dấu - */
}

/* Hiệu ứng chuyển cảnh */
.accordion-content {
  transition: max-height 0.5s ease-in-out;
}
/* Hiệu ứng mượt cho thẻ Card */
.testimonial-card {
  transition: all 0.4s ease-in-out;
  border-width: 1px;
  border-color: transparent;
}

/* testimonial */
.testimonial-card {
  border: 1px solid #1c1c1c; /* Viền mặc định tối */
  transition: all 0.3s ease-in-out;
}

/* Định nghĩa khung chứa chuẩn của Azzle */
.global-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Các mốc độ rộng chuẩn theo màn hình */
@media (min-width: 1024px) {
  .global-container {
    max-width: 1140px;
  }
}
@media (min-width: 1280px) {
  .global-container {
    max-width: 1320px;
  }
}
@media (min-width: 1536px) {
  .global-container {
    max-width: 1500px;
  }
}
.footer-text-slider {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Các khối tròn màu cam phía sau */
.orange-gradient-1 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ff9831 0%,
    #fe330a 100%
  );
  filter: blur(55px);
}
.orange-gradient-2 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fe330a 0%,
    #ff9831 100%
  );
  filter: blur(55px);
}
